.btn{
    margin:0 auto;
    height: 54px;
    width:298px;
    border: none;
    
    font: $font-btn;
    color:$btn-color;
    background: $btn-bg;
    text-align: center;
    text-transform: uppercase;
    
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background: $btn-hover-bg;
    }

    &:active {
        background: $btn-active-bg;
    }

    &:disabled {
        background: $btn-disabled-bg;
    }
}

.btn_round-corner{
    border-radius: 25px;
}

.btn_round-btn{
    border-radius: 50%;
    width: 62px;
    height: 62px;
}

.btn_submit{
    margin:0 auto;
    height: 42px;
    width:129px;
    //border: 1px solid $btn-submit-border-color;
    border: 1px solid $btn-submit-active-color;
    font: $font;
    // color:$btn-submit-color;
    color:$btn-submit-active-color;
    background: $btn-submit-bg;
    text-align: center;
    
    cursor: pointer;
    border-radius: 5px;
}