@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
body {
  font: normal 400 16px/140% "Roboto";
  background-color: #fff;
  color: #333B41;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #F9804B;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.container header {
  flex: 0 0 auto;
}
.container main {
  flex: 1 0 auto;
}
.container footer {
  flex: 0 0 auto;
}
.container .container__inner {
  margin: 0 auto;
}
@media screen and (min-width: 1281px) {
  .container .container__inner {
    max-width: 1600px;
    padding-left: 220px;
    padding-right: 220px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1280px) {
  .container .container__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 621px) and (max-width: 900px) {
  .container .container__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 620px) {
  .container .container__inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header {
  background-color: #000;
  color: #fff;
}
.header .header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .header .header__burger {
    display: block;
    margin: 11px 0;
    width: 18px;
    height: 10px;
    background: url("../../images/burger_menu.svg") no-repeat right center;
  }
  .header .header__burger:hover {
    cursor: pointer;
    filter: invert(39%) sepia(35%) saturate(1298%) hue-rotate(327deg) brightness(99%) contrast(97%);
  }
}

@media screen and (max-width: 900px) {
  main {
    margin-top: 34px;
  }
}
.footer {
  background-color: #000;
  color: #fff;
}
.footer .footer__container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  padding-top: 40px;
  padding-bottom: 50px;
}
@media screen and (min-width: 901px) {
  .footer .footer__logo {
    grid-row: 1;
    grid-column: 1/3;
  }
  .footer .footer__mail {
    grid-row: 1;
    grid-column: 3/5;
  }
  .footer .footer__donate {
    grid-row: 2;
    grid-column: 1/3;
    margin: 37px 0 43px 0;
  }
  .footer .footer__social {
    grid-row: 3;
    grid-column: 1;
  }
  .footer .footer__design {
    grid-row: 3;
    grid-column: 3/5;
  }
  .footer .footer__menu {
    grid-row: 3;
    grid-column: 2/4;
  }
}
@media screen and (min-width: 901px) and (max-width: 1280px) {
  .footer .footer__mail {
    margin-right: 6.2%;
  }
}
.footer .footer__social {
  list-style-type: none;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .footer__social .footer__social-item {
  margin: 0;
  padding: 7px 0 6px 0;
  background: url("../../images/ellipse.png") no-repeat left 2px;
}
.footer .footer__social .footer__social-item:hover {
  background: url("../../images/ellipse-hover.png") no-repeat left 2px;
}
.footer .footer__social .footer__social-item a {
  display: inline-block;
  width: 100%;
  padding-left: 38px;
  padding-right: 10px;
}
.footer .footer__social .footer__social-item_facebook {
  background: url("../../images/facebook.png") no-repeat 9px 0px;
}
.footer .footer__social .footer__social-item_twitter {
  background: url("../../images/twitter.png") no-repeat 5px 1px;
}
.footer .footer__social .footer__social-item_instagram {
  background: url("../../images/instagram.png") no-repeat 5px 0px;
}
.footer .footer__social .footer__social-item_youtube {
  background: url("../../images/youtube.png") no-repeat 4px 2px;
}
.footer .footer__mail {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: right;
}
.footer .footer__mail h4 {
  font: normal 400 24px/120% "Roboto";
  margin-bottom: 13px;
  text-align: left;
}
.footer .footer__mail .mail__input {
  width: 228px;
  height: 42px;
  border: 1px solid #FA6F32;
  border-radius: 5px;
  background: #000;
  color: #BDBDBD;
  margin-right: 6px;
  font: normal 400 16px/140% "Roboto";
  padding-left: 10px;
}
.footer .footer__design {
  justify-self: end;
  align-self: end;
  font: normal 100 16px/190% "Roboto";
}
.footer .footer__menu {
  align-self: end;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 621px) and (max-width: 900px) {
  .footer .footer__logo {
    grid-row: 1;
    grid-column: 1/3;
  }
  .footer .footer__mail {
    display: none;
  }
  .footer .footer__donate {
    grid-row: 2;
    grid-column: 1/3;
    margin: 35px 0 58px 0;
  }
  .footer .footer__social {
    grid-row: 1/3;
    grid-column: 4;
    justify-self: end;
  }
  .footer .footer__social .footer__social-item {
    width: 27px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .footer .footer__design {
    grid-row: 3;
    grid-column: 4/5;
  }
  .footer .footer__menu {
    grid-row: 3;
    grid-column: 1/4;
  }
  .footer .footer__container {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .footer .footer__menu {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 620px) {
  .footer .footer__logo {
    grid-row: 1;
    grid-column: 1/5;
  }
  .footer .footer__mail {
    display: none;
  }
  .footer .footer__donate {
    grid-row: 3;
    grid-column: 1/5;
  }
  .footer .footer__social {
    grid-row: 2;
    grid-column: 1/5;
    width: 100%;
    text-align: center;
  }
  .footer .footer__social .footer__social-item {
    width: 27px;
    overflow: hidden;
    display: inline-block;
    margin: 15px 4% 17px;
  }
  .footer .footer__design {
    grid-row: 4;
    grid-column: 1/5;
    margin: 25px auto 23px;
    width: 298px;
    text-align: right;
  }
  .footer .footer__menu {
    grid-row: 5;
    grid-column: 1/5;
  }
  .footer .footer__container {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

#shadow1, #shadow2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: #000;
  content: "";
  opacity: 80%;
  display: none;
  cursor: pointer;
}

.logo {
  width: 82px;
  height: 52px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  text-align: center;
  font: normal 400 19px/120% "Roboto";
  background: url("../../images/bamboo.svg") no-repeat 8px 22px;
}
.logo a {
  display: block;
  padding: 3px 0;
  color: #fff;
}
.logo:hover {
  filter: invert(39%) sepia(35%) saturate(1298%) hue-rotate(327deg) brightness(99%) contrast(97%);
}
.header .logo {
  margin: 14px 0;
}
.menu .logo {
  display: none;
}
@media screen and (max-width: 900px) {
  .header .logo {
    border: none;
    font: normal 400 12px/120% "Roboto";
    margin: 1px 0 4px;
    width: 47px;
    height: 29px;
    background: url("../../images/bamboo-small.svg") no-repeat 3px 15px;
  }
  .menu .logo {
    display: block;
  }
}
@media screen and (max-width: 620px) {
  .footer .logo {
    width: auto;
    height: auto;
    border: none;
    background-position: 72px 0px;
    margin: 8px auto;
  }
  .menu .logo {
    display: block;
  }
}
.menu .logo {
  color: #fff;
  filter: invert(39%) sepia(35%) saturate(1298%) hue-rotate(327deg) brightness(99%) contrast(97%);
  width: 65px;
  height: 41px;
  border: 1px solid;
  border-radius: 2px;
  text-align: center;
  font-size: 15px;
  line-height: 120%;
  margin-bottom: 15px;
  background: url("../../images/bamboo.svg") no-repeat 8px 18px;
  padding: 0px;
}
.menu .logo a {
  color: #fff;
}
.menu .logo a:hover {
  color: #fff;
}

.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  color: #fff;
}
.menu .menu_close {
  display: none;
}
.menu .menu_active {
  color: #F9804B;
}
.menu div.menu__design {
  margin-left: auto;
  padding-right: 0px;
}
@media screen and (min-width: 1281px) {
  .header .menu {
    padding: 0 0 0 2.6%;
    flex-direction: row;
  }
  .header .menu div {
    padding: 29px 3.15%;
  }
  .footer .menu {
    padding: 0 0 0 10%;
  }
  .footer .menu div {
    padding: 6px 5.3%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1280px) {
  .header .menu {
    padding: 0 0 0 4%;
    flex-direction: row;
  }
  .header .menu div {
    padding: 29px 3.4%;
  }
  .footer .menu {
    padding: 0 0 0 7%;
  }
  .footer .menu div {
    padding: 29px 5.2% 8px;
  }
}
@media screen and (max-width: 900px) {
  .header .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    padding: 10px;
    z-index: 10;
    width: 100vw;
    height: 329px;
    background: #fff;
    color: #000;
    font-size: 16px;
    line-height: 140%;
  }
  .header .menu div {
    padding-top: 15px;
  }
  .header .menu div.menu__design {
    margin-left: 0;
  }
  .header .menu .logo {
    padding-top: 0px;
  }
  .header .menu a {
    color: #000;
  }
  .header .menu a:hover {
    color: #F9804B;
  }
  .header .menu .menu_close {
    display: block;
    position: absolute;
    z-index: 6;
    top: 20px;
    right: 30px;
  }
  .header .menu .menu_close:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 621px) and (max-width: 900px) {
  .footer .menu div {
    padding-right: 10.8%;
  }
}
@media screen and (max-width: 620px) {
  .footer .menu div {
    padding: 0 4.7% 0;
  }
}

.btn {
  margin: 0 auto;
  height: 54px;
  width: 298px;
  border: none;
  font: normal 500 16px/140% "Roboto";
  color: #fff;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background: #E47209;
}
.btn:active {
  background: #4B9200;
}
.btn:disabled {
  background: #828282;
}

.btn_round-corner {
  border-radius: 25px;
}

.btn_round-btn {
  border-radius: 50%;
  width: 62px;
  height: 62px;
}

.btn_submit {
  margin: 0 auto;
  height: 42px;
  width: 129px;
  border: 1px solid #4B9200;
  font: normal 400 16px/140% "Roboto";
  color: #4B9200;
  background: #F1F3F2;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.watch_small {
  height: 385px;
  background: url("../../images/panda-bg.png") no-repeat center top;
  background-size: 130%;
  margin: 0;
}
@media screen and (min-width: 901px) and (max-width: 1280px) {
  .watch_small {
    background-size: 180%;
    height: 390px;
  }
}
@media screen and (min-width: 621px) and (max-width: 900px) {
  .watch_small {
    height: 335px;
    background-size: 220%;
  }
}
@media screen and (max-width: 620px) {
  .watch_small {
    height: 187px;
    background-size: 240%;
  }
}

.watch {
  height: 700px;
  background: url("../../images/giant-panda.png") no-repeat center -80px;
  background-size: 130%;
  overflow: hidden;
}
.watch .watch__decoration {
  padding: 73px 0 0 92px;
  width: 465px;
  height: 465px;
  background-color: #F9804B;
  border-radius: 50%;
  float: right;
  margin: 12px 108px 0 0;
  text-align: center;
}
.watch h2 {
  width: 465px;
  text-transform: uppercase;
  font: normal 700 107px/75% "Roboto";
  text-align: center;
  color: #fff;
}
.watch h2 span {
  color: #FFEE2E;
  display: inline-block;
  margin-left: -10px;
}
.watch .btn {
  margin-top: 60px;
  margin-left: 85px;
}
@media screen and (min-width: 901px) and (max-width: 1280px) {
  .watch {
    height: 504px;
    background: url("../../images/giant-panda.png") no-repeat center 0px;
    background-size: 120%;
  }
  .watch .watch__decoration {
    padding: 52px 0 0 75px;
    width: 367px;
    height: 367px;
    margin-top: -10px;
    margin-right: 147px;
  }
  .watch h2 {
    width: 367px;
    font-size: 85px;
  }
  .watch .btn {
    margin-top: 42px;
    margin-left: 35px;
  }
}
@media screen and (min-width: 621px) and (max-width: 900px) {
  .watch {
    height: 339px;
    background: url("../../images/giant-panda.png") no-repeat center 0px;
    background-size: 120%;
  }
  .watch .watch__decoration {
    padding: 40px 0 0 45px;
    width: 238px;
    height: 238px;
    margin-top: 10px;
    margin-right: 50px;
  }
  .watch h2 {
    width: 238px;
    font-size: 54px;
  }
  .watch h2 span {
    margin-left: -5px;
  }
  .watch .btn {
    margin-top: -7px;
    margin-left: -607px;
  }
}
@media screen and (max-width: 620px) {
  .watch {
    height: 261px;
    background: url("../../images/giant-panda.png") no-repeat center 0px;
    background-size: 120%;
  }
  .watch .watch__decoration {
    padding: 19px 0 0 23px;
    width: 119px;
    height: 119px;
    margin-top: 22px;
    margin-right: 28px;
  }
  .watch h2 {
    width: 119px;
    font-size: 28px;
  }
  .watch h2 span {
    margin-left: -4px;
  }
  .watch .btn {
    margin-top: 61px;
    margin-left: -173px;
  }
}

#pick-feed {
  margin: 0;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.container-pick-feed {
  padding: 44px 0 180px 0;
}

.container-pick-feed h3 {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  color: #FFFFFF;
}

.container-pick-feed h4 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  /* or3 */
  color: #FE9013;
  margin: 47px 0 60px 0;
}

.container-pick-feed p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: rgba(255, 255, 255, 0.99);
  margin: 5px 0 0 0;
}

.donation-container {
  background: rgba(255, 255, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  padding: 40px 92px 62px;
}

.container-pick-feed h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  text-align: center;
  /* or3 */
  color: #FE9013;
  margin: 0 0 0 -6px;
}

.donation-container p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  color: #333B41;
  margin-top: 20px;
}

.panda-diet {
  display: grid;
  grid-template-columns: 165px 30px 350px;
  grid-template-rows: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 105px auto 50px;
}
.panda-diet .panda-diet-number {
  text-align: center;
  font-size: 12px;
  line-height: 140%;
}
.panda-diet .panda-diet-number span {
  font-weight: 500;
  font-size: 72px;
  line-height: 60%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin: 65px 0 0 0;
}
.panda-diet .panda-diet-x {
  align-self: center;
  justify-self: center;
}
.panda-diet .panda-diet-image {
  background: url("../../images/animals-widget.png") no-repeat 53px -45px;
}

.progress {
  display: grid;
  grid-template-columns: repeat(8, 118px);
  font-weight: 500;
  grid-gap: 10px;
  margin-left: -24px;
  position: relative;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  /* or 36px */
  text-transform: uppercase;
  color: #333B41;
  text-align: center;
}

.controls {
  text-align: center;
  margin: 50px 0 0px;
}

.controls #donate_value {
  width: 268px;
  height: 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
  border: 1px solid #929699;
  padding-left: 8px;
  background: transparent url("../images/dollar.svg") no-repeat right20px center;
}

/* .controls #donate_value:active,
.controls #donate_value:focus{
    width: 268px;
height: 54px;
font-weight: 400;
font-size: 16px;
line-height: 140%;

color: #4B9200;
border:1px solid #4B9200;
padding-left:8px;
background: transparent url("../images/dollar.svg") no-repeat right +20px center;
} */
.controls input[type=radio] {
  width: 20px;
  background: transparent;
  border: 1px solid #FE9013;
  display: inline-block;
  margin: 25px 0 35px;
}

#radio1 {
  margin-left: -25px;
}

#radio2 {
  margin-left: 45px;
}

.controls .btn {
  margin-bottom: 32px;
}

/************************** custom radio button **************************/
/* для элемента input c type="radio" */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin: 22px 30px 32px 16px;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #FE9013;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #FE9013;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
  background-color: #FE9013;
  border-color: #FE9013;
}

/* стили для радиокнопки, находящейся в фокусе */
/* .custom-radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem #f9b970;

} */
/* #FED290 */
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
  border-color: #FE9013;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  border-color: #4B9200;
  background-color: #4B9200;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e"); */
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

/**********************************************/
.donate-control {
  display: flex;
  flex: 1 1 0;
  background-color: #72828E;
  height: 27px;
  border: #404950 12px solid;
  width: 100%;
  justify-content: space-between;
  margin: 14px 0 98px 0;
}
.donate-control li {
  position: relative;
  top: -20px;
  list-style: none;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  height: 80px;
  width: 9%;
  text-align: center;
  padding-top: 50px;
  background: url("../../images/dot.png") center 16px no-repeat;
}
.donate-control li:hover {
  cursor: pointer;
  color: #FE9013;
  background: url("../../images/dot.png") center 16px no-repeat, url("../../images/roller_icon.png") center 1px no-repeat;
}
.donate-control li.selected {
  color: #FE9013;
  background: url("../../images/dot.png") center 16px no-repeat, url("../../images/roller_icon.png") center 1px no-repeat;
}

/*************************************/
@media screen and (min-width: 901px) and (max-width: 1280px) {
  #pick-feed p {
    margin-top: 28px;
  }
  #pick-feed .container-pick-feed h4 {
    margin: 45px 0 40px 0;
  }
  #pick-feed .donation-container {
    padding: 20px 48px 42px;
  }
  #pick-feed .donation-container p {
    margin-top: 10px;
  }
  #pick-feed .container-pick-feed {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 621px) and (max-width: 900px) {
  #pick-feed h3 {
    font-size: 24px;
    line-height: 120%;
  }
  #pick-feed .container-pick-feed {
    padding: 30px 20px 45px;
  }
  #pick-feed p {
    margin-top: 20px;
  }
  #pick-feed .donation-container p {
    text-align: center;
  }
  #pick-feed .container-pick-feed h4 {
    margin: 29px 0 30px 0;
  }
  #pick-feed .donation-container {
    padding: 28px 38px 28px;
  }
  #pick-feed .donate-control li {
    font-size: 26px;
    line-height: 140%;
  }
  #pick-feed .controls #donate_value {
    width: 180px;
    height: 42px;
  }
  #pick-feed .custom-radio + label {
    margin: 30px 30px 32px 16px;
  }
  #pick-feed .controls {
    margin: 70px 0 0px;
  }
  #pick-feed .panda-diet {
    display: grid;
    grid-template-columns: 30% 6% 64%;
    grid-template-rows: 200px;
    width: 100%;
    margin: 95px auto 35px;
  }
  #pick-feed .panda-diet .panda-diet-number {
    margin-right: 25px;
  }
  #pick-feed .panda-diet .panda-diet-x {
    background: url("../../images/x_icon.png") no-repeat -5px 85px;
  }
  #pick-feed .panda-diet .panda-diet-image {
    background: url("../../images/animals-widget.png") no-repeat 43px -45px;
  }
}
@media screen and (max-width: 620px) {
  #pick-feed h3 {
    font-size: 24px;
    line-height: 120%;
  }
  #pick-feed .container-pick-feed h4 {
    font-size: 24px;
    line-height: 120%;
    margin: 25px 0 30px 0;
  }
  #pick-feed .container-pick-feed h2 {
    font-size: 24px;
    line-height: 120%;
    margin: 0 0 0 -6px;
  }
  #pick-feed .container-pick-feed {
    padding: 32px 10px 19px;
  }
  #pick-feed .container-pick-feed p {
    font-size: 16px;
    line-height: 140%;
  }
  #pick-feed p {
    margin-top: 15px;
  }
  #pick-feed .donation-container {
    padding: 20px 2px 18px;
  }
  #pick-feed .donation-container p {
    font-size: 16px;
    line-height: 140%;
    margin-top: 10px;
    text-align: center;
  }
  #pick-feed .donate-control li {
    font-size: 26px;
    line-height: 140%;
  }
  #pick-feed .controls #donate_value {
    width: 180px;
    height: 42px;
  }
  #pick-feed .custom-radio + label {
    margin: 30px 30px 32px 16px;
  }
  #pick-feed .controls {
    margin: 70px 0 0px;
  }
  #pick-feed .panda-diet {
    justify-self: center;
    grid-template-columns: 91px 20px 180px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: -15px auto -28px auto;
    align-self: center;
  }
  #pick-feed .panda-diet .panda-diet-number {
    font-size: 8.5px;
    line-height: 140%;
    padding-top: 10px;
    margin-right: 6px;
  }
  #pick-feed .panda-diet .panda-diet-number span {
    font-weight: 500;
    font-size: 40px;
    line-height: 80%;
    margin: 77px 0 0 0;
  }
  #pick-feed .panda-diet .panda-diet-x img {
    width: 8px;
    height: 8px;
    margin: 15px 0 0 -10px;
  }
  #pick-feed .panda-diet .panda-diet-image {
    background: url("../../images/animals-widget.png") no-repeat 24px 28px;
    background-size: 90%;
  }
  #pick-feed .donate-control {
    border: #404950 6px solid;
    height: 14px;
    margin: 8px 0 48px 0;
  }
  #pick-feed .donate-control li {
    position: relative;
    top: -20px;
    list-style: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    height: 50px;
    width: 9%;
    text-align: center;
    padding-top: 32px;
    background: url("../../images/dot.png") center 16px no-repeat;
    background-size: 20%;
  }
  #pick-feed .donate-control li:hover {
    cursor: pointer;
    background: url("../../images/dot.png") center 16px/20% no-repeat, url("../../images/roller_icon.png") center 6px/70% no-repeat;
  }
  #pick-feed .controls {
    margin: 0px 0 0px;
  }
  #pick-feed .controls span {
    font-size: 15.5px;
  }
  #pick-feed .custom-radio + label {
    margin: 25px 30px 27px 16px;
  }
  #pick-feed .donate-control-invisible {
    display: none;
  }
}/*# sourceMappingURL=donate.css.map */